
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: azure;
    border: none;
}
label {
    font-size: 50px;
    line-height: 78px;
    font-family:'Pacifico', cursive;
    font-size: 4em;
     color: black;
}

#temp {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#temp_diff {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#submit {
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(218 229 220);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#result{
    font-size: 27px;
     color: white;
}
body {
    display: block;
    margin: 8px;
    align-items: center;
display: flex;
height: 100vh;
flex-direction: column;
background-color: #f0f0f0;
background: url(sun.jpeg);;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}
#calcTemp {
    padding: 100px;
    border-radius: 4px;
    background: none;
    background-size: cover;
    text-align: center;
    border: none;
}
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 15px;
    padding-inline: 15px;
    border-width: 5px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: white;
}
}